//body, p, h1, h2, h3, h4, h5, h6, a {
//  font-family: Lato;
//  text-decoration: none;
//}
//ul, li { list-style: none; margin: 0; padding: 0}
//.cursor { cursor: pointer;}
//html, body{ margin: 0; padding: 0 0 50px 0;}
//.container{ max-width: 1000px; margin: 0 auto;}
.header{ background: #2a6496;padding: 25px 15px;color: #fff;}
//.clear{ display: inline-block; clear: both;}
.logo{ float: left; }
//.logo a{ font-size: 20px; margin: 0; color: #fff;}
//.navbar{ float: right;}
//.navbar ul li { display: inline-block; margin: 0 2px;}
//.navbar ul li a{ padding: 8px; color: #fff; border-radius: 5px;}
//.navbar ul li a:hover, .navbar ul li a.active{ background: #fff; color: #2a6496; }
//
///* Footer */
//.footer{ background: #353535; color: #fff; position: absolute; left: 0; bottom: 0; width: 100%; text-align: center;}
//
///* wrapper */
//.wrapper{ padding: 15px;}
//h1{ text-align: center;}
//
///* login */
//.logincontainer{ position: fixed; right: 0; top: 0; height: 100%; background: #fff; padding: 30px; width:300px; box-shadow: 3px 0px 4px 6px #ddd; box-sizing: border-box; }
//.logincontainer h1{ color: #2a6496; }
//.loginclose{background: #2a6496; color: #fff; position: absolute; left: 20px; top: 20px; padding: 6px 8px; font-weight: bold; cursor: pointer; }
//.form-control{ padding: 10px; border: 1px solid #ccc; width: 100%;
//  display: block; margin: 15px 0; box-sizing: border-box;}
//.btn{ padding: 8px; background: #2a6496; border: none; color: #fff; margin: 0 auto;}
//.loginform label{ color: #000; }
//.errorMsg{ color: red;}
//small{ display: block;}
//
//
